.first-sec{
    background-color: rgb(48, 48, 181);
    height: 560px;
}
nav{

    width: 1160px;
    height: 44px;
    margin:auto;
    padding: 20px;
    color:white;
    font-weight: 700;
}
.first-blog{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.blog{
    margin-right: 250px;
}
button{
    height: 44px;
    width: 123px;
    font-weight: 700;
    background-color: rgb(214, 52, 52);
    color:white;
}
.first-div{
    display: flex;
}
.head{
    color:white;
    font-weight: 700;
    font-size: 50px;
    font-family:bold;
}
.sub{
    margin-left: 220px;
}
.capture{
    width: 556px;
    height: 438px;
    margin-left: 200px;
}
.second-sec{
    width:1200px;
    

    margin: auto;
    margin-top: 85px;
}
.picture{
    width:300px;
    height: 256px;
}
.second-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.sub-main{
    padding: 40px;
    color:gray;
    box-shadow: 10px 10px 10px 10px rgb(227, 196, 196);
}
.mid-head{
    font-size: 700;
    color:rgb(23, 23, 108);
    font-size: 30px;
}
.last-sec{
    display: flex;
    width:1200px;

    margin: auto;
    height:500gpx;
    margin-top: 180px;
}
.last-pic{
    width: 567px;
    height: 427px;
    margin-left: 46px;
}
.head-last{
    color:black;
    font-weight: 700;
    font-size: 60px;
    font-family:bold;
    padding: 10px;
}
.last-para{
    color:gray;
    font-weight: 700;
    font-size: 20px;
    font-family:bold;
    padding: 10px;
}
.last-btn{
    width: 173px;
}
.end-sec{
    margin: auto;
   
    margin-top: 112px;
}
.skill{
    width: 484px;
    height: 110px;
    margin-left: 475px;
}


.main-study{
    margin-left: 600px;
}
.study{
    width: 32px;
    height: 32px;
}
    
    
    
